body {
    padding-top: 50px;
    padding-bottom: 20px;
   
}

   footer{
       position:absolute;
       
   }

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Sets jumbotron images and formatting for each page*/

.jumbofaq {
    position: relative;
    background-image: url('../images/figs4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.jumbologin {
    position: relative;
    background-image: url('../images/table2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
}

.jumbodonate {
    position: relative;
    background-image: url('../images/table2.jpg');
    background-size: cover;
    background-repeat: no-repeat;       
}

.jumboclaim {
    position: relative;
    background-image: url('../images/pears3.jpg');
    background-size: cover;
    background-repeat: no-repeat;       
}

.jumboregister {
    position: relative;
    background-image: url('../images/table2.jpg');
    background-size: cover;
    background-repeat: no-repeat;       
}

.jumbodonations {
    position: relative;
    background-image: url('../images/raspberries.jpg');
    background-size: cover;
    background-repeat: no-repeat;       
}

.jumbomanage {
    position: relative;
    background-image: url('../images/table2.jpg');
    background-size: cover;
    background-repeat: no-repeat;       
}

/*Formats the fonts across the site*/

h2.lead, h1.jumbohead, h1.faqhead, h1.loginhead, h1.donatehead, h1.claimhead, h1.registerhead, h1.donationshead, h1.managehead{
    font-family: 'Special Elite', cursive;
    color: white;
    text-align:center

}


h1.jumbohead{
    font-size:600%;
  
}

p.white, h2.white, h2.white1{
    color: white;
    font-family: 'Karma', serif;
    font-weight:800;   
    font-size: 50px;
    }

.navbar-nav{
    font-family: 'Karma', serif;
    font-weight: 800;
}

p.white{
    font-size: 130%;
    font-weight:500;
}


h2.faqfont, ul.faqfont, h2.bodytext, .form-group, .dl-horizontal{
    color: black;
    font-family: 'Karma', serif;
    }

h2.faqfont{
    font-size:300%
}

ul.faqfont{
    font-size:120%;
}

h2.lead{
    background-color:black;
    font-size:200%;
   }


.white1{
    text-align:center
}

.table-responsive{
    color: black;
    font-family: 'Karma', serif;

}

/*Sets the background for the home page*/
body.home {
    background-repeat: no-repeat;
    background-image: url('../images/dinner with friends4.jpg');
    background-size: cover;
}

/*Sets the background for all pages except the home page*/
body.donorhome, body.recipienthome, body.faqhome, body.log, body.register, body.managehome{
     background-image: url('../images/marble2.jpg');
     background-repeat: repeat;
     background-size:cover;
         
}


/*.datetimehome{
    color:grey;
    text-align:right;
}*/






/*div.firstslide {
  width:100%;
  overflow:hidden;
}
div.firstslide p {
  
  animation: firstslide 5s;
}*/


/*This fades in the "Problem" and "Solution" paragraphs on the first page.*/
@keyframes fadeIn {
    to {opacity:1;

    }
}

.firstslide{
    opacity:0;
    animation: fadeIn 2s ease-in 1 forwards;
}

.secondslide{
    opacity:0;
    animation-delay: 2s;
    animation: fadeIn 2s ease-in 1 forwards;
    animation-delay: 2s;

}

